<div class="container">
  <%# フォロー一覧表示 %>
  <h3>Follows --></h3>
  <% @follows.each do |follower| %>
    <div>
      <%= "#{follower.user.first_name} #{follower.user.last_name}" %>
    </div>
  <% end %>


  <%# フォローワー一覧表示 %>
  <h3>Followers --></h3>
  <% @followers.each do |follower| %>
    <div>
      <%= "#{follower.user.first_name} #{follower.user.last_name}" %>
    </div>
  <% end %>
</div>