<% if activity.read? %>
  <div class="mb-3 p-2" style="background-color: #EB7154">
<% else %>
  <div class="mb-3 p-2" style="background-color: #8789EB">
<% end %>
  <%= link_to read_activity_path(activity), method: :patch do %>
    <p class="m-0"><%= activity.subject.post.title %>に<%= activity.user.last_name %> <%= activity.user.first_name %>さんからコメントが来ました</p>
  <% end %>
  </div>
  </div>