<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
        <h1>通知</h1>
        <% if @activities.present? %>
          <% @activities.each do |activity| %>
            <%= render "#{activity.action_type}", activity: activity %>
          <%= paginate @activities %>
          <% end %>
        <% else %>
          <p>通知はありません</p>
        <% end %>
    </div>
  </div>
</div>
