<div class='container'>
  <div class='row'>
    <div class='col-lg-7 col-md-9 mx-auto align-items-center'>
      <h2 class="text-center mt-4">Posts#new</h2>
      <h2>Actions --></h2>
      <%= link_to 'Top', root_path %>
      <h2>Post --></h2>
      <%= form_with model: @post do |post| %>
        <%= render 'form', post: post %>
      <% end %>
    </div>
  </div>
</div>