<div class='container'>
  <div class='row'>
    <div class='col-lg-7 col-md-9 mx-auto align-items-center'>
      <h2 class="text-center mt-4">退会確認画面</h2>
      <%= link_to "退会する", withdrawal_users_path, method: :patch%>
    </div>
  </div>
</div>