<h1>User::Users#show</h1>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
<h2>User info</h2>
  <%= render 'user/users/info', user: @user %>
    </div>
    <div class="col-md-8 offset-1">
<h2>投稿内容</h2>
<h2>コメント件数</h2>
<p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
    </div>
  </div>
</div>