<div class='container px-5 px-sm-0'>
  <%= flash[:notice] %>
  <div class='row'>
    <div class='col-md-3'>
      <%= render partial: "user/users/info", locals: { user: @user }%>
      <%#= render partial: "posts/new", locals: { post_comment: @post_comment } %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Groups</h2>
      <%= render 'index', groups: @groups %>
    </div>
  </div>
</div>
