<div class='container px-5 px-sm-0'>
  <%= flash[:notice] %>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-3">User info</h2>
      <%= render partial: "user/users/info", locals: { user: @user }%>
      <%#= render partial: "posts/new", locals: { post_comment: @post_comment } %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Groups</h2>
      <%= render 'index', groups: @groups %><br>
      <h2>グループ新規作成</h2>
      <%= link_to 'New Group', new_group_path %>
    </div>
  </div>
</div>
