<h1>User::Groups#new</h1>
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>Create Group</h3>
        <%=link_to "グループを作成する",new_group_path %> |
        <%=link_to "グループ一覧",groups_path %>
        <%= render 'form', group: @group %>
    </div>
  </div>
</div>
