@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Raleway&family=Rubik+Lines&display=swap');

html,
body {
  font-family: 'Raleway', 'Noto Sans JP', sans-serif;
  height: 100%;
}

body {
  background: linear-gradient(125deg, rgba(175, 220, 184, .86), rgba(183, 219, 175, .5));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
